@media screen and (max-width: 767px) {
  
    .Account_header {
        color: white;
        text-align: center;
    }

    .borderbottom {
        border-bottom: outset;
        border-width: 2px;
        border-color: #D3D3D3;
    }

    .buttonright {
        text-align: right;
    }

    .borderfooter {
        display: none !important;
    }

    .p_color {
        color: darkgray;
    }

    .side-menu {
        width: 90%;
    }

}

/* 手機橫向 md*/

@media screen and (min-width: 768px) {}


/* iPad橫向 lg*/

@media screen and (min-width: 1024px) {
}

/* iPad Pro橫向 & 桌機 xl*/

@media screen and (min-width: 1366px) {}


html,
body {
    color: white;
    background-color: rgb(18, 14, 27);
    height: 100%;
}

nav a {
    margin: 10px;
    padding: 5px;
    display: block;
}

.side-menu {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    /* width: 200px; */
    height: 100vh;
    transform: translateX(-100%);
    transition: .3s;
    background-color: rgb(33, 33, 44);
    display: flex;
    flex-direction: column;
}

.side-menu a {
    text-decoration: none;
    color: #fff;

}

#side-menu-switch {
    color: #000;
    position: absolute;
    opacity: 0;
}

#side-menu-switch:checked+.side-menu {
    transform: translateX(0);
}

#side-menu-switch:checked+.side-menu label .fas {
    transform: scale(-1);
}

.sidebar {
    position: fixed;
}

.fas {
    color: #fff;
}

.side-menu label {
    position: absolute;
    width: 40px;
    height: 80px;
    top: 0;
    right: -43px;
}

.half {
    width: 50%;
}

.buttonright .button1 {
    width: 130px;
    background-color: rgb(110, 67, 232);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    padding: 3px 0;
}
.p_color{
    color: darkgray;
}