.item {
    padding: 40px;
    background-color: rgb(33,33,44)
}

.text a {
    font-size: 15px;
    color: white;
}

.text h1 {
    font-size: 30px;
    color: white;
}

.text h2 {
    font-size: 20px;
    color: white;
}
html, body {
    font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 100%;
  }
  .textcolor{
      color: rgb(123, 107, 187);;

  }