.modal-backdrop {
    background-color: red;
  }

  .modal-header {
    background-color: rgb(48, 47, 61);
  }

  .modal-body {
    background-color: rgb(48, 47, 61);
  }

  .modal-footer {
    background-color: rgb(48, 47, 61);
  }

  .btn-oblong {
    border-radius: 30px 30px 30px 30px;
  }

  .footer {
    text-align: right;
    padding: 10px;
  }

  .form-control {
    background-color: rgb(33, 33, 44)
  }
  .container .wrapper{
    height: 100px;
    width: 100px;
    
  }
  .btn-close{
    background-color: white;
  }
  .selectionoption{
    background-color:  rgba(240, 248, 255, 0.267);
    color: rgba(240, 248, 255, 0.267);
    border: 1px solid #595656;
  }
  html, body {
    font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 100%;
  }
  .upload_cover {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    background: rgb(33, 33, 44);
    border: 1px solid #595656;
  }
  #upload_input {
    display: none;
  }
  .upload_icon {
    font-weight: bold;
    font-size: 180%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 20%;
  }
  .delAvatar {
    position: absolute;
    right: 2px;
    top: 2px;
  }
  .modal-open {
    overflow: inherit;
  }
  .modal-body {
    border: 1px solid #595656;
  }
  .bordersize {
    border: 1px solid #595656;
  }
  html, body {
    font-family: Poppins, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 100%;
  }
  .modal-content .modal-header{
    position: relative;
  }
  .startcolor{
    color:red ;
  }